.right-panel {
  width: 300px;
  background: #aee4ff;
  padding: 20px;
}

.right-panel .premium {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.upgrade {
  padding: 10px;
  width: 100%;
  background-color: #00aaff;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}
