<aside class="w-75 bg-[#e2ebfe] shadow-md p-6 space-y-6 min-h-screen">
  <section>
    <div class="flex items-center space-x-4 mb-6">
      <img src="teacher.png" alt="TeacherImage" class="w-12 h-12 rounded-full">
      <div>
        <p class="text-gray-800 font-medium">Mr. John Doe</p>
        <small class="text-gray-500">Teacher</small>
      </div>
    </div>
    <h2 class="text-xl font-semibold mb-2">Details</h2>
    <ul class="list-none list-inside text-gray-700 space-y-1">
      <li class="flex items-center space-x-2"><img src="id.png" alt="" class="w-4 h-4 rounded-full"> ID: 1111</li>
      <li class="flex items-center space-x-2"><img src="name.png" alt="" class="w-4 h-4 rounded-full">Name: Saman</li>
      <li class="flex items-center space-x-2"><img src="gmail.png" alt="" class="w-4 h-4 rounded-full">Email: samankumara&#64;gmail.com</li>
      <li class="flex items-center space-x-2"><img src="smartphone.png" alt="" class="w-4 h-4 rounded-full">Mobile: 08123456789</li>
      <li class="flex items-center space-x-2"><img src="schedule.png" alt="" class="w-4 h-4 rounded-full">Registered Date: 2002-02-12</li>
    </ul>
  </section>
</aside>
