<aside class="w-55 bg-[#e2ebfe] shadow-md px-6 py-4 space-y-6 min-h-screen">
  <div>
    <h2 class="text-xl font-bold text-gray-800 mb-4">Admin</h2>
    <nav>
      <ul class="space-y-2 text-gray-700 font-medium">
        <li class="flex items-center space-x-2">
          <img src="dashboard.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded hover:bg-gray-200">Dashboard</a>
        </li>
        <li class="flex items-center space-x-2">
          <img src="courses.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded hover:bg-gray-200">Recent Activities</a>
        </li>
        <li class="flex items-center space-x-2">
          <img src="quizzes.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded hover:bg-gray-200">Chat</a>
        </li>
        <li class="flex items-center space-x-2">
          <img src="exam.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded hover:bg-gray-200">Manage Tasks</a>
        </li>
        <li class="flex items-center space-x-2">
          <img src="MyClasses.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded hover:bg-gray-200">Manage Users</a>
        </li>
        <li class="flex items-center space-x-2">
          <img src="reports.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded hover:bg-gray-200">Reports</a>
        </li>
        <li class="flex items-center space-x-2">
          <img src="settings.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded hover:bg-gray-200">Setting</a>
        </li>
        <li class="flex items-center space-x-2">
          <img src="logout.png" alt="" class="w-6 h-6 rounded-full">
          <a href="#" class="block px-2 py-1 rounded text-red-500 hover:bg-red-100">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
