<div class="flex min-h-screen bg-gray-100">

  <!-- Sidebar - Fixed Left -->
  <div class="fixed left-0 top-0 h-screen z-10">
    <app-user-navbar></app-user-navbar>
  </div>

  <!-- Main Content -->
  <div class="flex flex-1 min-h-screen bg-gray-100 ml-[220px] mr-[295px] overflow-y-auto">

    <main class="flex-1 p-6 space-y-6">
      <h1 class="text-2xl font-bold text-gray-800">Hi Saman, Welcome Back</h1>


      <section class="grid grid-cols-2 md:grid-cols-4 gap-4">

        <div class="bg-white p-4 rounded-lg shadow text-center" style="background-color: #fc9c9c;">
          <p>Assigned Tasks</p>
          <strong class="text-xl">40</strong>
        </div>
        <!-- <div class="bg-white p-4 rounded-lg shadow text-center" style="background-color: #e2ebfe;">
          <p>To-Do Tasks</p>
          <strong class="text-xl">350</strong>
        </div> -->
        <div class="bg-white p-4 rounded-lg shadow text-center" style="background-color: #a7ffc0;">
          <p>Ongoing Tasks</p>
          <strong class="text-xl">40</strong>
        </div>
        <div class="bg-white p-4 rounded-lg shadow text-center" style="background-color: #f9ffa8;">
          <p>Completed Tasks</p>
          <strong class="text-xl">15</strong>
        </div>

      </section>


      <section class="bg-white p-6 rounded-lg shadow" style="background-color: #e2ebfe;">
        <h2 class="text-xl font-semibold mb-4">Quick Task Management</h2>
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
              <tr style="background-color: #88b3ff;">
                <th class="px-4 py-2">ID</th>
                <th class="px-4 py-2">Description</th>
                <th class="px-4 py-2">File</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b">
                <td class="px-4 py-2">101</td>
                <td class="px-4 py-2 text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae optio,
                  minus magni, officia mollitia unde rerum qui minima placeat soluta. Dolorum ducimus quasi eius
                  exercitationem voluptatibus? Perspiciatis, sapiente culpa.</td>
                <td class="px-4 py-2">
                  <a href="">
                    <img class="w-7 h-7 rounded-full" src="download.gif" alt="">
                  </a>
                </td>
                <td class="px-4 py-2">
                  <span class="bg-green-100 text-green-800 text-xs font-medium px-2 py-1 rounded">Ongoing</span>
                </td>
                <td class=" py-1">
                  <button id="dropdownRadioButton" data-dropdown-toggle="dropdownDefaultRadio"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">Status <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                    </svg>
                  </button>
                  <!-- Dropdown menu -->
                  <div id="dropdownDefaultRadio"
                    class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                      aria-labelledby="dropdownRadioButton">
                      <li>
                        <div class="flex items-center">
                          <input id="default-radio-1" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                          <label for="default-radio-1"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ongoing</label>
                        </div>
                      </li>
                      <li>
                        <div class="flex items-center">
                          <input checked id="default-radio-2" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                          <label for="default-radio-2"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Completed</label>
                        </div>
                      </li>
                    </ul>
                  </div>
              </tr>
              <tr class="bg-white border-b">
                <td class="px-4 py-2">101</td>
                <td class="px-4 py-2 text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis corrupti
                  tempora alias quidem doloribus sint, maiores recusandae quasi asperiores, aliquid dolor assumenda
                  tempore itaque voluptate error? Ipsa possimus molestias fugiat!</td>
                  <td class="px-4 py-2">
                    <a href="">
                      <img class="w-7 h-7 rounded-full" src="download.gif" alt="">
                    </a>
                  </td>
                <td class="px-4 py-2">
                  <span class="bg-yellow-100 text-yellow-600 text-xs font-medium px-2 py-1 rounded">Completed</span>
                </td>
                <td class=" py-1">
                  <button id="dropdownRadioButton" data-dropdown-toggle="dropdownDefaultRadio"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">Status <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                    </svg>
                  </button>
                  <!-- Dropdown menu -->
                  <div id="dropdownDefaultRadio"
                    class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                      aria-labelledby="dropdownRadioButton">
                      <li>
                        <div class="flex items-center">
                          <input id="default-radio-1" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                          <label for="default-radio-1"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ongoing</label>
                        </div>
                      </li>
                      <li>
                        <div class="flex items-center">
                          <input checked id="default-radio-2" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                          <label for="default-radio-2"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Completed</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr class="bg-white border-b">
                <td class="px-4 py-2">101</td>
                <td class="px-4 py-2 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo numquam quo
                  quos, reprehenderit ea eligendi voluptate consequatur corporis voluptates laboriosam eum labore neque
                  sequi unde facilis exercitationem nam earum at?</td>
                  <td class="px-4 py-2">
                    <a href="">
                      <img class="w-7 h-7 rounded-full" src="download.gif" alt="">
                    </a>
                  </td>
                <td class="px-4 py-2">
                  <span class="bg-red-100 text-red-600 text-xs font-medium px-2 py-1 rounded">Assigned</span>
                </td>
                <td class=" py-1">
                  <button id="dropdownRadioButton" data-dropdown-toggle="dropdownDefaultRadio"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    type="button">Status <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                    </svg>
                  </button>
                  <!-- Dropdown menu -->
                  <div id="dropdownDefaultRadio"
                    class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow-sm dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                      aria-labelledby="dropdownRadioButton">
                      <li>
                        <div class="flex items-center">
                          <input id="default-radio-1" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                          <label for="default-radio-1"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ongoing</label>
                        </div>
                      </li>
                      <li>
                        <div class="flex items-center">
                          <input checked id="default-radio-2" type="radio" value="" name="default-radio"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                          <label for="default-radio-2"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Completed</label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>


      <!-- <section class="bg-white p-6 rounded-lg shadow" id="activity" style="background-color: #e2ebfe;">
        <h2 class="text-xl font-semibold mb-4">Recent Activity</h2>
        <div class="space-y-4">
          <div class="flex items-center justify-between">
            <p class="text-gray-700">User John Smith updated permissions for user 102</p>
            <span class="text-gray-500 text-sm">2025-04-05 12:45 PM</span>
          </div>
          <div class="flex items-center justify-between">
            <p class="text-gray-700">User 103 requested a role change</p>
            <span class="text-gray-500 text-sm">2025-04-05 11:20 AM</span>
          </div>
        </div>
      </section> -->
    </main>
  </div>

  <div class="fixed right-0 top-0 h-screen z-10">
    <app-details-bar></app-details-bar>
  </div>

</div>
